 .Album {
     width: 100%;
     height: 100%;
     margin-top: 10px;
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: start;
     background-color: #00000091;
     overflow: hidden;
     transition: all .2s ease-in-out;

     p {
         &:hover {
             text-decoration: underline;
         }

     }

     .TrackComponent__NavPanel {

         border-color: white;

         width: 100%;
         display: flex;
         flex-direction: row;
         align-items: center;
         height: 100px;
         margin-top: -50px;


         .NavPanel__PlayTrackBtn {
             position: relative;
             font-size: 25px;
             width: min-content;
             height: 37px;
             text-wrap: nowrap;
             padding: 0 5px;
             margin: 25px;
             margin: 0 10px 25px 0;
             text-transform: uppercase;
             color: black;
             background-color: white;
             transition: all .1s ease-in-out;
             font-family: var(--font-family-versus);
             z-index: 1;
             border-radius: 5px;
             display: flex;
             align-items: center;

             p {
                 text-decoration: none;
             }

             &:hover {
                 color: black;
                 background-color: white;
                 transform: scale(1.05);
                 position: relative;

                 p {
                     text-decoration: none;
                 }

                 &::after {
                     content: '';
                     width: 100%;
                     height: 100%;
                     position: absolute;
                     left: 0;
                     top: 2px;
                     animation: Hover .5s steps(1, end) infinite;
                     transform: scale(.9);
                 }


             }

             &:active {
                 background-color: rgb(0, 220, 0);
             }

         }

         .NavPanel__SaveTrackBtn {
             @extend .NavPanel__PlayTrackBtn;

             &:hover {
                 &::after {
                     animation: none;
                 }
             }

         }


     }

     .dash {
         position: absolute;
         top: 50px;
         left: 10px;
         width: 22px;
         height: 70px;
         background: repeating-linear-gradient(315deg, #b9becc, #b9becc 1.5px, transparent 0px, transparent 5px);
     }

     .squarDash {
         @extend .dash;
         top: 130px;
         width: 22px;
         height: 22px;
         background: repeating-linear-gradient(45deg, #b9becc, #b9becc 1.5px, transparent 0px, transparent 5px);
     }
 }

 @keyframes Hover {
     0% {
         background: url('/Hover1.png') center center no-repeat;
     }

     35% {

         background: url('/Hover2.png') center center no-repeat;
     }

     65% {
         background: url('/Hover3.png') center center no-repeat;

     }
 }