 .Section {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: start;
     align-items: center;
     overflow: hidden;


     .mark {
         z-index: 2;
         clip-path: circle(45% at 50% 50%);
     }

     .ForUserMix_Div {

         color: white;
         text-transform: uppercase;
         font-family: var(--font-family-versus);
         margin: 10px 60px;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         align-content: center;
     }

     .Section__Content {
         max-width: 1900px;
         width: 100%;
         height: 100%;
         display: grid;
         grid-template-columns: repeat(6, 1fr);
         gap: 20px;
         padding: 10px 60px;
         grid-auto-rows: max-content;
         color: white;
         overflow-y: scroll;


         @media (max-width: 1850px) {
             grid-template-columns: repeat(5, 1fr);
         }

         @media (max-width: 1655px) {
             grid-template-columns: repeat(4, 1fr);
         }

         @media (max-width: 1350px) {
             grid-template-columns: repeat(3, 1fr);
         }

         @media (max-width: 1070px) {
             grid-template-columns: repeat(2, 1fr);
         }



     }


 }