 .ArtistInfo {
     width: 100%;
     padding: 10px;

     margin-bottom: 7px;
     display: flex;

     flex-direction: column;
     align-items: center;
     transition: 1s ease-in-out;

     .TrackComponent__NavPanel {
         border-top-width: 1px;
         border-color: white;
         width: 100%;
         display: flex;
         align-items: center;
         height: 100px;
         font-size: 25px;
         text-wrap: nowrap;
         text-transform: uppercase;
         font-family: var(--font-family-versus);
         margin-bottom: 25px;
     }

     .ArtistInfo__TopTracks {
         width: 100%;
         height: var(--HiddenList);
         overflow: hidden;
         transition: 1s ease-in-out;
     }


 }

 @keyframes hover {
     from {
         transform: rotate(0deg);
     }

     to {
         transform: rotate(-360deg);
     }

 }