 .ArtistInfo {
     width: 100%;
     padding: 10px;

     margin-bottom: 7px;
     display: flex;

     flex-direction: column;
     align-items: center;
     transition: 1s ease-in-out;

     .ArtistInfo__Sections {
         width: 100%;
         display: flex;
         margin-bottom: 15px;
         flex-direction: column;
         align-items: center;
     }



     .ArtistInfo__Discography {
         padding-top: 20px;
         padding-bottom: 20px;
         width: 100%;
         display: flex;
         flex-wrap: nowrap;
         overflow: hidden;
         justify-content: center;
         flex-shrink: 0;
         opacity: 1;

         .Discography__Item {
             width: 160px;
             height: 160px;
             transition: all .2s ease-in-out;
             margin: 0 auto;



             &:hover {
                 position: relative;
                 transform: scale(1.05);

                 &::before {
                     position: absolute;
                     animation: AnimHoverDefault .2s linear;
                     content: "";
                     width: 210px;
                     height: 210px;
                     z-index: 0;

                     @media (max-width:1500px) {
                         width: 171px;
                         height: 171px;
                         animation: AnimHoverMedium .2s linear;
                     }

                     @media (max-width:850px) {
                         width: 145px;
                         height: 145px;
                         animation: AnimHoverSmall .2s linear;
                     }

                 }
             }

             .Item__Conteiner {
                 position: relative;
                 width: 100%;
                 height: 100%;

                 .RandomTextImage {
                     font-family: var(--font-family-versus);
                     width: 100%;
                     height: 100%;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     font-size: 50px;

                     @media (max-width:1500px) {


                         font-size: 40px;

                     }

                     @media (max-width:850px) {


                         font-size: 30px;


                     }
                 }


                 &::after {
                     content: "";
                     position: absolute;
                     top: 0;
                     left: 0;
                     width: 100%;
                     height: 100%;
                     background: url('/SpanPattern.png') bottom no-repeat;
                     background-size: 100%, 100%;
                     z-index: 1;
                 }

                 span {
                     top: 104px;
                     left: 5px;
                     color: black;
                     position: absolute;
                     z-index: 20;
                     font-size: 9px;
                     text-transform: uppercase;
                     font-family: var(--font-family-versus);

                     @media (max-width:1500px) {

                         top: 77px;
                         font-size: 7px;

                     }

                     @media (max-width:850px) {

                         top: 58px;
                         font-size: 5px;

                     }
                 }
             }
         }


         @media (max-width:1500px) {
             .ForUserMix__Item {
                 width: 130px;
                 height: 130px;
             }
         }

         @media (max-width:850px) {

             .ForUserMix__Item {
                 width: 110px;
                 height: 110px;
             }
         }

         @media screen and (max-width: 1850px) {
             .ForUserMix__Item:nth-child(n+7) {
                 display: none;
             }
         }

         @media screen and (max-width: 1750px) {
             .ForUserMix__Item:nth-child(n+6) {
                 display: none;
             }
         }

         @media screen and (max-width: 1350px) {
             .ForUserMix__Item:nth-child(n+4) {
                 display: none;
             }
         }

         @media screen and (max-width: 1000px) {
             .ForUserMix__Item:nth-child(n+3) {
                 display: none;
             }
         }
     }





     .ArtistInfo__Span {
         border-color: #c1c0c5;
         border-top-width: 1px;
         border-bottom-width: 1px;
         width: 100%;
         display: flex;
         align-items: center;
         height: 100px;
         font-size: 25px;
         padding: 0 10px;
         justify-content: space-between;
         text-wrap: nowrap;
         text-transform: uppercase;
         font-family: var(--font-family-versus);
         margin-bottom: 25px;

         .Div__link {
             &:hover {
                 text-decoration: underline;
             }

             color: rgb(133, 133, 133);
             font-size: x-small;
         }


         .radioContainer {
             display: flex;
             align-items: center;
         }

         .radioWrapper {
             margin-right: 10px;
         }

         .radioLabel {
             padding: 5px 10px;
             border: 2px solid transparent;
             border-radius: 4px;
             cursor: pointer;
             transition: border-color 0.3s ease, color 0.3s ease;

             &:hover {
                 border-color: #cccccc;
             }
         }

         .radioInput {
             display: none;
         }

         .radioInput:checked+.radioLabel {
             border-color: #e9ec53;
             color: #e9ec53;
         }


     }

     .ArtistInfo__TopTracks {
         width: 100%;
         height: var(--HiddenList);
         overflow: hidden;
         transition: 1s ease-in-out;
     }


 }

 @keyframes hover {
     from {
         transform: rotate(0deg);
     }

     to {
         transform: rotate(-360deg);
     }

 }