.Btn {
    width: 100%;
    height: 50px;
    background-color: rgb(44, 44, 44);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: clamp(0.625rem, 0.625rem + 0.58vw, 1.063rem);
    align-items: center;
    color: white;
    overflow: hidden;
    position: relative;
    transition: all .2s ease-in-out;

    &:hover {
        h1 {
            color: black;
        }

        background-color: white;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0px;
            background-color: #4ade80;
            clip-path: polygon(95% 0, 100% 0%, 100% 100%, 85% 100%);
            opacity: 1;
            animation: hover .2s linear;
        }
    }

    &:active {
        background-color: #4ade80;
    }

    h1 {
        width: 100%;
        text-align: center;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @media (max-width:1200px) {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            white-space: normal;
        }
    }
}

.FavoriteBanner {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .FavoriteBanner__Nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        width: 100%;
        height: 100%;
        margin-bottom: 10px;

        .Btn__Left {
            @extend .Btn;
            justify-content: start;
            padding-left: 5px;
            clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);

            h1 {
                margin-left: 10px;
                margin-right: 20px;
            }
        }

        .Btn__Center {
            @extend .Btn;
            clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
            justify-content: center;
            padding-left: 10%;

            h1 {
                margin-left: 10px;
                margin-right: 25px;
            }

        }

        .Btn__Right {
            @extend .Btn;
            padding-left: 10px;
            clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
            padding-left: 10%;
            padding-right: 10px;

            h1 {

                margin-left: 10px;
            }

            &:hover {
                &:after {
                    clip-path: polygon(95% 0, 100% 0%, 100% 100%, 95% 100%);
                    animation: hover2 .2s linear;
                }
            }
        }



    }

    @media (min-width: 1200px) {
        .FavoriteBanner__Nav {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

    }



    /* Для экранов от 1000px до 1200px: 1 колонка */
    @media (max-width: 1200px) and (min-width: 1000px) {
        .FavoriteBanner__Nav {
            grid-template-columns: repeat(2, 1fr);

            grid-template-rows: auto;


        }
    }

    /* Для экранов меньше 1000px: 1 колонка */
    @media (max-width: 1000px) {
        .FavoriteBanner__Nav {
            grid-template-columns: 1fr;

            grid-template-rows: repeat(6, auto);

        }
    }

    @media (max-width: 1200px) {
        .Btn {
            &:hover {
                &:after {
                    clip-path: polygon(95% 0, 100% 0%, 100% 100%, 95% 100%);
                    animation: hover2 .2s linear;
                }
            }
        }

        .FavoriteBanner__Nav {
            .Btn__Left {
                clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
                padding: 0px;
                padding-left: 5px;
                padding-right: 10px;
            }

            .Btn__Center {
                clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
                padding: 0px;
                padding-left: 5px;
                padding-right: 10px;
            }

            .Btn__Right {
                clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
                padding: 0px;
                padding-left: 5px;
                padding-right: 10px;
            }

        }
    }
}

@keyframes hover {
    0% {
        opacity: 1;
        clip-path: polygon(0 0, 1% 0, 1% 100%, 0 100%);
    }

    50% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    100% {
        opacity: 1;
        clip-path: polygon(95% 0, 100% 0%, 100% 100%, 85% 100%);
    }
}

@keyframes hover2 {
    0% {
        opacity: 1;
        clip-path: polygon(0 0, 1% 0, 1% 100%, 0 100%);
    }

    50% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    100% {
        opacity: 1;
        clip-path: polygon(95% 0, 100% 0%, 100% 100%, 95% 100%);
    }
}