 .Settings {
     width: 100%;
     height: 100%;




     .Settings__Dashboard {
         width: 100%;
         height: 100%;

         display: flex;
         flex-direction: column;
     }

     .Settings__Content {
         width: 100%;
         height: 100%;
         display: flex;
         flex-direction: column;
         padding-top: 10px;
         padding-bottom: 10px;
         padding-left: 60px;
         padding-right: 60px;

         h1 {
             color: white;

         }
     }


 }