.dashboard {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background:

        linear-gradient(to bottom, #15181d6c, #3e454bad),
        url('/pattern3.png') center center;

    background-size: 50%, 30%;

    &::before {
        filter: invert(var(--invertFilter));
        content: " "; // Создает пустой псевдоэлемент
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -9999;
        animation: Filter 3s;
        background:

            linear-gradient(to bottom, #15181d6c, #3e454bad),
            url('/pattern3.png') center center;

        background-size: 50%, 30%;
    }


    .backgroundMarq {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 5.7%;
        z-index: -9999;
        animation: Filter 3s;
        filter: invert(var(--invertFilter));
        transition: .1s ease-in-out;
    }

    .dashboard__content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        overflow: hidden;

        .content__child {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;

            .child__Main {
                width: 100%;
                height: 100%;
                align-items: center;
                margin-top: 10px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: start;
                background-color: #00000091;
                overflow: hidden;
                transition: all .2s ease-in-out;

            }
        }
    }


}

@keyframes Filter {
    0% {
        filter: invert(1);
    }

    50% {
        filter: invert(0);

    }
}