@import url('https://fonts-online.ru/path-to-fonts/versus.css');
$font-family-versus: 'Versus', sans-serif;
.MediaLibrary {
    width: 350px;
    height: 100%;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 0;
    background-color: #00000091
}

// .MediaLibrary__RoutingBT {

//     font-family:  $font-family-versus;
//     background-color: white;
// }