.ArtistTopTrack {
    width: 100%;
    height: var(--HiddenList);
    overflow: hidden;
    transition: 1s ease-in-out;
}

.FollowUnFollow {
    width: 100%;
    margin-top: -50px;
}

.NavPanel__PlayTrackBtn {
    position: relative;
    font-size: 25px;
    width: min-content;
    height: 37px;
    text-wrap: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    background-color: white;
    transition: all .1s ease-in-out;
    font-family: var(--font-family-versus);
    z-index: 1;
    border-radius: 5px;


    text-decoration: none;


    &:hover {
        color: black;
        background-color: white;
        transform: scale(1.1);
        position: relative;


        text-decoration: none;



        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 13px;
            animation: Hover .5s steps(1, end) infinite;
            transform: scale(.9);
        }


    }

    &:active {
        background-color: rgb(0, 220, 0);
    }

}

.ArtistData__Span {
    border-color: #c1c0c5;
    border-top-width: 1px;
    border-bottom-width: 1px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100px;
    font-size: 25px;
    padding: 0 10px;
    justify-content: space-between;
    text-wrap: nowrap;
    text-transform: uppercase;
    font-family: var(--font-family-versus);
    margin-bottom: 25px;

    .Div__link {
        &:hover {
            text-decoration: underline;
        }

        color: rgb(133, 133, 133);
        font-size: x-small;
    }


    .radioContainer {
        display: flex;
        align-items: center;
    }

    .radioWrapper {
        margin-right: 10px;
    }

    .radioLabel {
        padding: 5px 10px;
        border: 2px solid transparent;
        border-radius: 4px;
        cursor: pointer;
        transition: border-color 0.3s ease, color 0.3s ease;

        &:hover {
            border-color: #cccccc;
        }
    }

    .radioInput {
        display: none;
    }

    .radioInput:checked+.radioLabel {
        border-color: #e9ec53;
        color: #e9ec53;
    }


}

.ArtistData__Discography {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: center;
    flex-shrink: 0;
    opacity: 1;

    .Discography__Item {
        width: 170px;
        height: 170px;
        transition: all .2s ease-in-out;
        margin: 0 auto;



        &:hover {
            position: relative;
            transform: scale(1.05);

            &::before {
                position: absolute;
                animation: AnimHoverDefault .2s linear;
                content: "";
                width: 220px;
                height: 220px;
                z-index: 0;

                @media (max-width:1500px) {
                    width: 181px;
                    height: 181px;
                    animation: AnimHoverMedium .2s linear;
                }

                @media (max-width:850px) {
                    width: 155px;
                    height: 155px;
                    animation: AnimHoverSmall .2s linear;
                }

            }
        }

        .Item__Conteiner {
            position: relative;
            width: 100%;
            height: 100%;

            .RandomTextImage {
                font-family: var(--font-family-versus);
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 50px;

                @media (max-width:1500px) {


                    font-size: 40px;

                }

                @media (max-width:850px) {


                    font-size: 30px;


                }
            }



            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url('/SpanPattern.png') bottom no-repeat;
                background-size: 100%, 100%;
                z-index: 1;
            }




            span {
                top: 110px;
                left: 5px;
                color: black;
                position: absolute;
                z-index: 20;
                font-size: 10px;
                text-transform: uppercase;
                font-family: var(--font-family-versus);

                @media (max-width:1500px) {

                    top: 85px;
                    font-size: 8px;

                }

                @media (max-width:850px) {

                    top: 65px;
                    font-size: 6px;

                }
            }

        }
    }


    @media (max-width:1500px) {
        .Discography__Item {
            width: 130px;
            height: 130px;
        }
    }

    @media (max-width:850px) {

        .Discography__Item {
            width: 110px;
            height: 110px;
        }
    }

    @media screen and (max-width: 1850px) {
        .Discography__Item:nth-child(n+7) {
            display: none;
        }
    }

    @media screen and (max-width: 1750px) {
        .Discography__Item:nth-child(n+6) {
            display: none;
        }
    }

    @media screen and (max-width: 1350px) {
        .Discography__Item:nth-child(n+4) {
            display: none;
        }
    }

    @media screen and (max-width: 1000px) {
        .Discography__Item:nth-child(n+3) {
            display: none;
        }
    }
}

@mixin animHoverCommon($top, $left, $bgImage) {
    top: $top;
    left: $left;
    background: url($bgImage) center no-repeat;
    background-size: 90% 100%;
    z-index: 1;
}

@keyframes AnimHoverDefault {
    0% {
        @include animHoverCommon(-20px, -25px, '/border1.png');
    }

    45% {
        @include animHoverCommon(-20px, -25px, '/border1.png');
    }

    55% {
        @include animHoverCommon(-28px, -24px, '/border2.png');
    }

    100% {
        @include animHoverCommon(-28px, -24px, '/border2.png');
    }
}

@keyframes AnimHoverMedium {
    0% {
        @include animHoverCommon(-16.47px, -20px, '/border1.png');
    }

    45% {
        @include animHoverCommon(-16.47px, -20px, '/border1.png');
    }

    55% {
        @include animHoverCommon(-23.06px, -19.76px, '/border2.png');
    }

    100% {
        @include animHoverCommon(-23.06px, -19.76px, '/border2.png');
    }
}

@keyframes AnimHoverSmall {
    0% {
        @include animHoverCommon(-12.12px, -17.65px, '/border1.png');
    }

    45% {
        @include animHoverCommon(-12.12px, -17.65px, '/border1.png');
    }

    55% {
        @include animHoverCommon(-19.76px, -16.94px, '/border2.png');
    }

    100% {
        @include animHoverCommon(-19.76px, -16.94px, '/border2.png');
    }
}

@keyframes Hover {
    0% {
        background: url('/Hover1big.png') center center no-repeat;
    }

    35% {

        background: url('/Hover2big.png') center center no-repeat;
    }

    65% {
        background: url('/Hover3big.png') center center no-repeat;

    }
}