@import url('https://fonts-online.ru/path-to-fonts/versus.css');
$font-family-versus: 'Versus', sans-serif;

.profile {
    width: 100%;
    height: 100%;
    max-width: 1900px;
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: hidden;




    .profile__Dashboard {
        width: 100%;
        height: 100%;
        background-color: #00000091;
        display: flex;
        flex-direction: column;
    }

    .profile__Content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        padding-left: 60px;
        padding-right: 60px;
        justify-content: start;
        overflow-y: scroll;
        padding-left: 60px;
        padding-right: 60px;

        color: white;

        h1 {
            color: white;

        }
    }

    .dash {
        position: absolute;
        top: 50px;
        left: 10px;
        width: 22px;
        height: 70px;
        background: repeating-linear-gradient(315deg, #b9becc, #b9becc 1.5px, transparent 0px, transparent 5px);
    }

    .squarDash {
        @extend .dash;
        top: 130px;
        width: 22px;
        height: 22px;
        background: repeating-linear-gradient(45deg, #b9becc, #b9becc 1.5px, transparent 0px, transparent 5px);
    }
}