 .profile {
     width: 100%;
     max-width: 1900px;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: start;
     align-items: center;
     overflow: hidden;
     padding: 10px 60px;
     overflow-y: scroll;

     color: white;

     h1 {
         color: white;

     }

 }